.wrapper{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.flexWrap{
  text-align: center;
}

#prayer{
  font-style: italic;
}

#imageWrapper{
  height: 250px;
}
/*#image{
  height: 50%;
  width: 50%;
}*/

#controls{
  display: flex;
  justify-content: flex-end;
}
#randomHeroBtn{
  position: absolute;
  left: 48.8%;
}
#nickBox{
  margin-left: auto;
}