.wrapper{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.flexWrap{
  text-align: center;
}

#prayer{
  font-style: italic;
}

#heroText{
  margin-top: 100px;
}